# Core Qiskit library for building and manipulating quantum circuits
qiskit

# High-performance simulator used to run and test quantum circuits
qiskit-aer

# Used for visualising results
matplotlib

# Required to run the Jupyter notebook interface 
jupyter